
li {
  padding: 5px;
  margin: 5px;
  list-style-type: none;
  background-color: orange;
}
h1{
  color: orange;
text-align: center;
font-size: 4rem;

}
.label {
  font-weight: bold;

}

.create-update-form {
  padding: 5px;
  margin: 5px;

}

.form-group {
  margin-bottom: 5px;

}
